.calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 200px;
    margin: 50px auto;
}

.calc input, .calc button {
    padding: 20px;
    font-size: 10px;
} 

.display {
    grid-column: span 4;
}